<h1>Show us your Quack!</h1>
<% if logged_in? %>
    <a href="ducks/new">Share your quack!</a>    
<% end %>

<div class="quackers">
        <% ducks.each do |duck| %>
            <h3>
            <img src="<%= duck['image_url']%>" alt="A picture of <%= duck['name']%> the duck">
            <a href="/ducks/<%= duck['id']%>"><%= duck['name']%></a>
            </h3>
        <% end %>
</div>