<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Show us your Quack!</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  <% if logged_in? %>
    <header>logged in as <%= current_user.email %>
      <form action="/session" method="post">
        <input type="hidden" name="_method" value="delete">
        <button>Log out</button>
      </form>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/ducks/search">Search</a></li>
      </ul>
    </nav>
    </header>
  <% else %>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/ducks/search">Search</a></li>
      <li><a href="/sign_up">Sign up</a></li>
      <li><a href="/login">Log in</a></li>
    </ul>
  </nav>
  <% end %>




  <%= yield %>



  <footer class="copyright"> &copy; Hugh Sinclair </footer>
</body>
</html>
