<h1>Please enter your details to sign up!</h1>
<h2>If you hit "Sign up" and are taken back to this screen, your email has already been used to create an account</h2>
<form action="/users" method="post">
    <label for="">Email</label>
    <input type="email" name="email" placeholder="john.doe@example.com">

    <label for="">Password</label>
    <input type="password" name="password">

    <button>Sign up</button>




</form>