<h1>Give us your duck's details!</h1>

<form action="/ducks" method="post" enctype="multipart/form-data">
    <label for="">Name</label>
    <input type="text" name="name" placeholder="Enter your ducks name">

    <label for="">Image</label>
    <input type="file" name="image" placeholder="Upload your duck pic">

    <label for="">Location</label>
    <input type="text" name="location_spotted" placeholder="Enter where you spotted the duck">
    <button>Submit your duck</button>
</form>
