<h1>Search for a duck by name</h1>

<form action="/ducks/search_results_name">
    <input type="text" name="name" placeholder="enter duck name">
    <button>Search</button>
</form>

<h1>Search for a duck by location spotted</h1>

<form action="/ducks/search_results_location">
    <input type="text" name="location_spotted" placeholder="enter spotted location">
    <button>Search</button>
</form>

<h1>Search for a duck by user email</h1>

<form action="/ducks/search_results_user">
    <input type="text" name="email" placeholder="enter user email">
    <button>Search</button>
</form>